numpy==1.26.4
scipy==1.13.1
scikit-learn==1.5.2
pandas==2.2.3
pyyaml
tqdm
networkx
numba==0.60.0

# Core ML stack
torch==2.3.0
torchvision==0.18.0
torchaudio==2.3.0
torchdata==0.8.0
dgl==2.2.0

# Graph/text tooling
ogb
torch_geometric
transformers
sentencepiece
peft
wandb
